table{
  width: 800px;

}
th{
  text-align: left;
}
table,th,td{
  border: none 1px solid #000;
  border-collapse: collapse;

}
th,td{
  padding: 15px;
}
tr:nth-child(even){
  background-color: whitesmoke;
}
tr:nth-child(odd){
  background-color: white;
}
body{
  background-color: lightpink;
}
th{
  background-color: red;
  color: white;
}
#lunch{
  writing-mode: vertical-lr;
  text-align: center;
  text-orientation: upright;}
.profile-icon{
  color: #D63231;
  border-radius: 5px;
}


.courses-menu-item {
  display: flex;
  gap: 5px;
}
table{
  width: 1000px;
  height: 400px;
  position: relative;
  left:130px;
  top:0px;
  border-bottom: 3px solid #D63231}
.content {
  position: relative;
  left: 110px;
  bottom: 30px;
}
.course{
  position:relative;
  left:1100px;
  bottom:90px;
  color: red;
}
.student{
  position:relative;
  left:940px;
  bottom:90px;
  color: red;
}
.profile{
  position:relative;
  left:1000px;
  bottom:90px;
}
.time{
  padding: 25px;
}



